html{
    box-sizing: border-box;
    
}

body{
    background-image: url('../images-planetarium/background.webp');
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: fit-content;
}

footer{
    height: 150px;
    background-image: linear-gradient(to right, #056090, #0f507c, #114068, #103154, #0c2341, #0b1c37, #09162d, #060e24, #050b20, #04081d, #02051a, #000216);
}

.fa-brands{
    color : white !important;
    font-size: 2.5em;
}

section{
    background-image: linear-gradient(to right top, #242427, #22232f, #1f2137, #1a2040, #131f48, #111e47, #0f1c47, #0d1b46, #12193c, #141833, #15162a, #151521);
}

nav{
    background-image: linear-gradient(to right, #056090, #0f507c, #114068, #103154, #0c2341, #0b1c37, #09162d, #060e24, #050b20, #04081d, #02051a, #000216);
}

.dropdown-menu, .dropdown-item{
    background-color: #123a6b;
    color: white !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #122b56;
    color: white;
}

#aside-planetes{
    background-image: radial-gradient(circle, #2828b3, #002b9b, #002a81, #002667, #00214c, #091e3f, #0f1a33, #111727, #121625, #131624, #141522, #151521);
}

.mercure{
    background-image: radial-gradient(circle, #a78558, #a37158, #98605b, #86525e, #6e485f, #664363, #5c4067, #4d3e6b, #4c407a, #48428a, #3e469b, #294aad);
}

.venus{
    background-image: radial-gradient(circle, #a78558, #a17849, #9b6b3a, #965d2d, #904f20, #86461a, #7d3e13, #73350d, #64300b, #562b08, #492606, #3c2003);
}

.terre{
    background-image: radial-gradient(circle, #4c3a3e, #533e48, #574354, #584962, #535170, #50567d, #495c89, #3d6396, #3768a6, #2f6cb6, #2571c6, #1675d6);
}

.mars{
    background-image: radial-gradient(circle, #d69474, #cc8a6a, #c28160, #b87756, #ae6e4c, #ad6b48, #ac6945, #ab6641, #b36942, #bb6c44, #c36f45, #cb7247);
}

.jupiter{
    background-image: linear-gradient(to bottom, #a67b63, #a47257, #a2684b, #a05f3f, #9e5534, #9e5534, #9e5534, #9e5534, #a05f3f, #a2684b, #a47257, #a67b63);
}

.saturne{
    background-image: linear-gradient(to bottom, #675e48, #776f5b, #88806e, #999282, #aaa496, #aca698, #aea899, #b0aa9b, #a49c8a, #988f7a, #8c816a, #80745a);
}

.uranus{
    background-image: linear-gradient(to bottom, #c3ebed, #bee7e9, #b9e4e6, #b4e0e2, #afdddf, #afdddf, #afdddf, #afdddf, #b4e0e2, #b9e4e6, #bee7e9, #c3ebed);
}

.neptune{
    background-image: radial-gradient(circle, #3955d5, #3449b7, #2f3e99, #29337d, #222862, #21265e, #1f255a, #1e2356, #222a67, #273079, #2b378b, #303e9e);
}

#infos{
    background-image: radial-gradient(circle, #a78558, #a37158, #98605b, #86525e, #6e485f, #664363, #5c4067, #4d3e6b, #4c407a, #48428a, #3e469b, #294aad);
}

#contact{
    background-image: radial-gradient(circle, #a78558, #a37158, #98605b, #86525e, #6e485f, #664363, #5c4067, #4d3e6b, #4c407a, #48428a, #3e469b, #294aad);
}


#ul-index{
    font-size: large;
    list-style-type: none;
}

.separateur-header, .separateur{
    height: 95px;
    background-color: transparent;
}

aside p{
    text-align: justify;
}

#wikiLink{
    background-color: ivory;
    padding: 3px;
    text-decoration: none;
    color : black;
}
